{% extends 'default.html' %}
{% block title %}Manage My Account{% endblock %}
{% block body %}
<div class='post_method'>
	{{ post_method }}
</div>
<style>
label {
	text-decoration: bold;
}
.other {
	text-align: center;
}
</style>
<form method='POST' action="{% url 'accounts:edit_users' %}">
	{% csrf_token %}
	<table align='center'>
		<tr>
			<td><label for='first_name'>First Name: </label></td>
			<td><input type='text' name='first_name' id='first_name' value='{{ bdhuser.user.first_name }}'></td>
		</tr>
		<tr>
			<td><label for='last_name'>Last Name: </label></td>
			<td><input type='text' name='last_name' id='last_name' value='{{ bdhuser.user.last_name }}'></td>
		</tr>
		<tr>
			<td><label for='username'>Username: </label></td>
			<td><span id='username'>{{ bdhuser.user.username }}</span></td>
		</tr>
		<tr>
			<td><label for='password'>Password: </label></td>
			<td><input type='password' name='password' id='password'></td>
		</tr>
		<tr>
			<td><label for='email'>Email: </label></td>
			<td><input type='email' name='email' id='email' value='{{ bdhuser.user.email }}'></td>
		</tr>
		<tr>
			<td><label for='phone_number'>Phone Number: </label></td>
			<td><input type='text' name='phone_number' id='phone_number' value='{{ bdhuser.phone_number }}'></td>
		</tr>
		<tr>
			<td><label for='class_year'>Class Year: </label></td>
			<td><input type='number' name='class_year' id='class_year' value='{{ bdhuser.class_year }}'></td>
		</tr>
		<tr>
			<td><p><b>User Type: </b></p></td>
			<td>
				<label for='copy_ed'>Copy Ed: </label><input {% if copy_ed %}checked {% endif %}name='user_type' id='copy_ed' value='copy_ed' type='radio'><br>
				<label for='ssw'>SSW: </label><input {% if ssw %}checked {% endif %}name='user_type' id='ssw' value='ssw' type='radio'><br>
				<label for='section_ed'>Section Ed: </label><input {% if section_ed %}checked {% endif %}name='user_type' id='section_ed' value='section_ed' type='radio'><br>
				<label for='edit_board'>Edit Board: </label><input {% if edit_board %}checked {% endif %}name='user_type' id='edit_board' value='edit_board' type='radio'>
			</td>
		</tr>
		{% if author %}
		<tr>
			<td><label for='author_url'>Author URL: </label></td>
			<td>http://browndailyherald.com/author/<input type='text' name='author_url' id='author_url' value='{{ author_url }}'></td>
		</tr>
		<tr>
			<td><label for='section'>Section: </label></td>
			<td>
				<label for='metro'>Metro: </label><input {% if a.section == 'M' %}checked {% endif %}name='section' id='metro' value='M' type='radio'><br>
				<label for='news'>U. News: </label><input {% if a.section == 'UN' %}checked {% endif %}name='section' id='news' value='UN' type='radio'><br>
				<label for='ac'>A &amp; C: </label><input {% if a.section == 'AC' %}checked {% endif %}name='section' id='ac' value='AC' type='radio'><br>
				<label for='sr'>S &amp; R: </label><input {% if a.section == 'SR' %}checked {% endif %}name='section' id='sr' value='SR' type='radio'><br>
				<label for='sports'>Sports: </label><input {% if a.section == 'S' %}checked {% endif %}name='section' id='sports' value='S' type='radio'>
			</td>
		</tr>
		{% endif %}
		<tr>
			<td></td>
			<td><input class='btn btn-primary' type='submit' value='Save Changes' align='center'></td>
		</tr>
	</table>
</form>
{% endblock %}