{% extends 'default.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<style>
a, h3 {
	padding: 10px;
}
.block {
	padding: 10px;
	text-align: center;
	background-color: #cccccc;
	margin: 10px;
	border-radius: 15px;
}
.home-link {
	display: block;
	border-radius: 10px;
	border: 1px solid #b3b3b3;
}
.home-link:hover {
	background-color: #bfbfbf;
}
</style>
<div class='col-md-6'>
	{% if edit_board or section_ed or ssw %}
	<div class='block'>
		<h3>Management</h3>
		{% if edit_board or section_ed %}
		<a class='home-link' href="{% url 'management:select' %}">Generate reports about authors</a><br>
		{% endif %}
		<a class='home-link' href="{% url 'management:select' %}">See report about yourself</a><br>
	</div>
	{% endif %}

	<div class='block'>
		<h3>Stories</h3>
		<a class='home-link' href="{% url 'accounts:lookup_stories' %}">Lookup stoires</a><br>
		<a class='home-link' href="{% url 'accounts:by_page' %}?author={{ author_id }}">See stories by you</a><br>
		{% if section_ed or edit_board %}
		<a class='home-link' href="{% url 'accounts:edit_stories' %}">Edit editorship of stories</a><br>
		{% endif %}
	</div>
</div>

<div class='col-md-6'>
	<div class='block'>
		<h3>Accounts</h3>
		{% if edit_board %}
		<a class='home-link' href="{% url 'accounts:approve' %}">Approve or deny new users and permissions</a><br>
		{% endif %}
		<a class='home-link' href="{% url 'accounts:lookup_users' %}">Lookup system users</a><br>
	</div>

	<div class='block'>
		<h3>Students</h3>
		<a class='home-link' href="{% url 'students:lookup' %}">Lookup students in directory</a><br>
		<a class='home-link' href="{% url 'students:edit' %}">Edit students in directory</a><br>
	</div>
</div>
{% endblock %}