{% extends 'blank.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<style>
form {
	margin-top: 40%;
	display: block;
	padding: 10px;
	border-radius: 15px;
	background-color: #b4b4b4;
	text-align: center;
}
input[type=password] {
	margin-top: 10px;
}
input[type=radio] {
	margin-top: 20px;
}
input[type=submit] {
	margin: 10px;
}
</style>
<div class='col-md-4'></div>
<div class='col-md-4'>
	<form action="{% url 'accounts:reset_password' %}" method="POST">
		{% csrf_token %}
		<h3>Reset Password:</h3>
		<span>{{ message }}</span>
		<div class='col-md-6'>
			<label autofocus for='email'>Email: </label><br>
		</div>
		<div class='col-md-6'>
			<input name='email' id='email' type='email'>
		</div>
		<input type="submit"><br>
		<a href="{% url 'accounts:login' %}">Login here!</a>
	</form>
</div>
<div class='col-md-4'></div>
{% endblock %}