<!DOCTYPE html>
<meta charset='utf-8'>
<html lang="en-US">
  <head>
  	<script src="http://code.jquery.com/jquery-latest.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  	<style>
  		p, h1, h2, h3, h4, h5, input, label {
  			margin-left: 10px;
  			margin-right: 10px;
  		}
  	</style>
  	<title> {% block title %}{% endblock %}</title>
  </head>
  <body>
  	{% block body %}{% endblock %}
  </body>
 </html>